[submodule "covidcertificate-sdk-ios"]
	path = covidcertificate-sdk-ios
	url = https://github.com/BRZ-GmbH/CovidCertificate-SDK-iOS.git
    branch = main
[submodule "SnapKit"]
	path = SnapKit
	url = https://github.com/SnapKit/SnapKit.git